<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiCardsHeart, mdiCursorDefaultClickOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <FancyButton
          ><template v-slot:tail
            ><v-icon :icon="mdiCursorDefaultClickOutline" /></template
          >Click Me
        </FancyButton>
      </v-col>
      <v-col>
        <FancyButton
          ><v-icon :icon="mdiCardsHeart" />Love Me<template #tail>
            My Tail</template
          ></FancyButton
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
