<script setup lang="ts">
import MyProfileCard from "@/components/MyProfileCard.vue";
import { ref } from "vue";
const myProfile = ref({
  name: "ธนดล บุญถึง",
  img: "https://reg.buu.ac.th/registrar/getstudentimage.asp?id=63160073",
  education: "จบจากโรงเรียนปราจีนกัลยาณี ระดับชั้น มัธยมศึกษาปีที่ 6",
  interests: "คณิตศาสตร์",
});
</script>

<template>
  <v-container
    ><v-row
      ><v-col
        ><MyProfileCard
          :name="myProfile.name"
          :education="myProfile.education"
          :img="myProfile.img"
          :interests="myProfile.interests"
        ></MyProfileCard></v-col></v-row
  ></v-container>
</template>
