<script setup lang="ts">
const props = defineProps<{
  name: string;
  img: string;
  education: string;
  interests: string;
}>();
</script>

<template>
  <v-card class="mx-auto" max-width="1000" variant="outlined" height="500">
    <v-img
      src="https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000"
      cover
    >
      <v-avatar color="blue" size="250"><img :src="props.img" /></v-avatar>
      <v-card-item>
        <v-table class="tableBG">
          <tbody>
            <tr>
              <td class="text-h6 mb-1">ชื่อ:</td>
              <td class="text-h6 mb-1">{{ props.name }}</td>
            </tr>
            <tr>
              <td class="text-h6 mb-1">ประวัติการศึกษา:</td>
              <td class="text-h6 mb-1">{{ props.education }}</td>
            </tr>
            <tr>
              <td class="text-h6 mb-1">สิ่งที่สนใจ:</td>
              <td class="text-h6 mb-1">{{ props.interests }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-card-item>
    </v-img>
  </v-card>
</template>

<style scoped>
.tableBG {
  background-color: transparent;
}
</style>
